<div class = "blogs">
  <h1> Blogs </h1>
  <ul>
    <% @Blogs.reverse.each do |blog| %>
      <li>
        <a href = "/blogs/<%= blog.id %>" >
          <span>
            <%= blog.title%>
          </span>
          <span class = "date">
            <%= blog.date %>
          </span>
        </a>
      </li>
    <% end %>
  </ul>
</div>
