<div class = "blogs">

  <h3> Blogs </h3>

  <ul>
    <% @Blogs.each do |blog| %>
      <li>
        <a href = "#">
          <span class "title">
            <%= blog.title%>
          </span>
          <span class = "date">
            <%= blog.date %>
          </span>
        </a>
      </li>
    <% end %>
  </ul>
</div>

  <div class = "clear-fix"></div>