@charset "UTF-8";
$break-small:501px;
$break-large:800px;

@media only screen and (min-width: $break-small) and (max-width: $break-large){

  body{
    background-image: none;
    header {
      height: 200px;
      background: url(personal-website-medium.png )no-repeat right 0px;
      background-size: 800px 200px;


    }
    nav{
      top:200px;

      a{
        margin-right: 20px;
      }
    }

    .promo-container {
      padding:0px 20px 15px 20px;

      .promo{
        background-position: 0px 0px;

        .content{
          padding: 70px 30px 0px 0px;
        }
      }
    }
  }


}