.navbar {

    li {
      float: left;
    }

    ul{
      border-radius: 3px;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #171616;
    }

    a {
      display: block;
      padding: 14px 30px;
      text-align: center;
      background-color: #171616;
      float: left;
      color: #DCDBDE;
      text-decoration: none;
      font-family: sans-serif;
    }

    a:hover {
      color: red
    }

}


.nav-right{
    float:right;
    list-style-type:none;

  a{
    color: #171616
  }

  a:hover{
    color: #171616
  }
}


#profile-pic-container  {
  width:100%;
  height: 400px;
  background-color: #DCDBDE;

  img{
    opacity: 0.9;
    float:right
  }

  .welcome-message{
    float:left;
    width: 750px;
    margin-left: 20px;



    h3{
      padding-left: 10px;
      padding-right: 8px;
      padding-top: 60px;
      color: #ffffff;
      font-family: 'Lato' sans-serif;
      font-size: 120px;
      font-weight: 300;
      line-height: 58px;
      margin: 0 0 58px;
    }

    .welcome-info {
      float:right;
      font-size: 11px;
      font-family: sans-serif;
      position: relative;
      top: 197px;
    }
  }
}