body{

  .blog-show{
    margin-top: 43px;
    h1{
      text-align: center;
      padding-top: 20px;
    }

    p{
      padding: 0px 10px 5px 10px;
      color: black;
      text-align:justify;
    }
  }

}


