@charset "UTF-8";

/* Global Formatting and Style */

body {
  color: #575c7a;
  line-height: 1.5em;
  font-family: arial;
  font-size: 14px;
  background: #515673 url(background_gradient.jpg) repeat-x 0px 0px;

  .page{
    max-width: 980px;
    margin: 0px auto 0px auto;
    position: relative;
    background-color: #fff;
  }

  .secret{
    text-decoration:none;
    color: #9ba0bd ;
  }

  h1 {
    font-size: 2em;
    font-weight: 100;
    font-family: initial;
    color: #161F59;
    margin: 0 0 0.5em 0;
  }

  h2{
    font-size: 1.7em;
    margin: 0 0 1em 0;
  }

  h3{
    font-size: 1.5em;
    margin: 0 0 1em 0;
    font-family: initial;

  }

  p{
    font-size: 1.2em;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    margin: 0 0 .75em 0;
  }

  a{
    color:#de9000;
  }
  a:hover{
    color: #009eff;
  }

  footer{
    background-color: #9ba0bd;
    padding: 10px 0px;

    .social-media{
      width: 180px;
      margin: auto;

      div{
        padding-left: 0px;
      }

      a{
        padding-left: 25px;
        margin: auto;
      }
    }
  }



  .promo h3{
    font-size: 1.1em;
    margin: 0;
  }

  .promo p {
    line-height: 1.2em;
    font-size: .9em;
    margin-bottom: .5em;
  }

  .promo {
    background-repeat: no-repeat;
  }

  .promo.one{
    background-image: url(prog-lang.png);

  }

  .promo.two{
    background-image: url(new-web-frameworks.png);

  }

  .promo.three{
    background-image: url(database-background-less.png);

  }

}

nav {
  a{
    color: #161F59;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    font-size: 0.9em;
  }
  a:hover{
    color: #6BC6F1;
  }
}

.clear-fix{
  clear:both;
  line-height: 1px;

}



