<!DOCTYPE html>
<html>
  <head>
    <title>Personal Website</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class = "page">
      <header>
        <a class = "logo" href = '#'>RL</a>
      </header>

      <article>
        <h1> Welcome </h1>
        <p> This is the coolest site ever thank you for taking your time to view it!</p>
      </article>

      <div class = "promo-container">

        <div class = "promo"></div>

        <div class = "promo"></div>

      </div>



      <nav>
        <a href = "#">About Me</a>
        <a href = "#">Services</a>
        <a href = "#">Blog</a>
        <a href = "#">Contact</a>
      </nav>

      <footer>
        &copy: Ryan Lesson
      </footer>
    </div>
  </body>
</html>
