<div id = "profile-pic">
  <div class = "welcome-message">
    <h3> Welcome </h3>
    <div class = "welcome-info">
      <div> Ryan Lesson </div>
      <span> Full Stack Engineer </span>
    </div>
  </div>
  <%= image_tag("marko_kovacevic-dbc-headshots-2015-10-23-square-4.jpg", :alt => "Self Portrait", height: "300", width: "350") %>

</div>

