<div id = "profile-pic-container">
  <div class = "welcome-message">
    <h3> Welcome </h3>
    <div class = "welcome-info">
      <div> Ryan Lesson </div>
      <span> Full Stack Engineer </span>
    </div>
  </div>
  <%= image_tag("marko_kovacevic-dbc-headshots-2015-10-23-square-4.jpg", :alt => "Self Portrait", height: "400", width: "400") %>

</div>

<div id = "about-me">
  <div class = "about-statement"> About me </div>
  <div class = "about-info">I am a optimistic(among other things) web developer with experience in creating full-stack web applications. I'm very enthusiastic about learning and I have a knack for finding answers. My education includes a Bachelors of Arts in Marketing along with a minor in Computer Science form Michigan State University. I am currently seeking a position where I can blend my education, work experience and passion into the role. My career goal is to have the knowledge and power to advance technology in a way that betters all of society. This is my second attempt at a personal website, feedback is greatly appreciated!
  </div>
</div>


