<article>
  <h1>Welcome</h1>
  <p>This is the coolest site ever thank you for taking
     your time to view it!</p>
</article>

<div class = "promo-container">

  <div class = "promo">
    <h3> Programming Languages </h3>
    <ul>
      <li>Ruby</li>
      <li>JavaScript</li>
      <li>Python</li>
    </ul>
  </div>

  <div class = "promo">
    <h3> Web Frameworks </h3>
    <ul>
      <li>Rails</li>
      <li>Sinatra</li>
    </ul>
  </div>

  <div class = "promo">
    <h3>Database</h3>
    <ul>
      <li>ActiveRecord</li>
      <li>SQL(postgresSQL, SQlite</li>
    </ul>
  </div>

</div>

